extends ./layout.jade

block javascripts
  script(src="./javascripts/main.js")
block stylesheets
  link(href='//fonts.googleapis.com/css?family=Luckiest+Guy|Sansita+One' rel='stylesheet' type='text/css')
  link(href="./stylesheets/main.css" media="all" rel="stylesheet")

block content
  .container(ng-app="tenholes" ng-controller="MainController")
    h1 Ten Holes

    p
      .btn-group.btn-group-justified
        label.btn.btn-danger(value="alphabet" ng-model="displayType" uib-btn-radio="'alphabet'") Alphabet
        label.btn.btn-danger(value="syllables" ng-model="displayType" uib-btn-radio="'syllables'") Syllables

    p
      .btn-group.btn-group-justified(ng-show="displayType == 'syllables'")
        label.btn.btn-danger(value="C" ng-model="key" uib-btn-radio="'C'") C
        label.btn.btn-danger(value="F" ng-model="key" uib-btn-radio="'F'") F
        label.btn.btn-danger(value="G" ng-model="key" uib-btn-radio="'G'") G

    table
      tr.bended-blow(ng-repeat="offsets in OFFSETS.bendBlow.slice().reverse()")
        td.desc(rowspan="{{OFFSETS.bendBlow.length}}" ng-hide="$index")
          .hole Bended<br/>Blow
        td(ng-repeat="offset in offsets track by $index")
          .hole(ng-show="offset && displayType == 'syllables'") {{getSyllable(offset+OFFSETS.blow[$index])}}
          .hole(ng-show="offset && displayType == 'alphabet'") {{getKey(offset+OFFSETS.blow[$index])}}
      tr.blow
        td.desc
          .hole Blow
        td(ng-repeat="offset in OFFSETS.blow")
          .hole(ng-show="displayType == 'alphabet'") {{getKey(offset)}}
          .hole(ng-show="displayType == 'syllables'") {{getSyllable(offset)}}
      tr.body
        td.desc
          .hole Hole
        td.body(ng-repeat="offset in OFFSETS.blow")
          .hole {{$index+1}}
      tr.draw
        td.desc
          .hole Draw
        td(ng-repeat="offset in OFFSETS.draw")
          .hole(ng-show="displayType == 'alphabet'") {{getKey(offset)}}
          .hole(ng-show="displayType == 'syllables'") {{getSyllable(offset)}}
      tr.bended-draw(ng-repeat="offsets in OFFSETS.bendDraw")
        td.desc(rowspan="{{OFFSETS.bendDraw.length}}" ng-hide="$index")
          .hole Bended<br/>Draw
        td(ng-repeat="offset in offsets track by $index")
          .hole(ng-show="offset && displayType == 'syllables'") {{getSyllable(offset+OFFSETS.draw[$index])}}
          .hole(ng-show="offset && displayType == 'alphabet'") {{getKey(offset+OFFSETS.draw[$index])}}
