doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#c9302c")
    title TenHoles
    link(href="./stylesheets/bootstrap.css" media="all" rel="stylesheet")
    block stylesheets
  body
    block content
    hr
    p.text-center
      a(href="https://github.com/agate/tenholes") Source on GitHub
      |  via 
      a(href="https://agate.github.io") @agate
    script(src="./javascripts/angular.js")
    script(src="./javascripts/ui-bootstrap.js")
    block javascripts
