doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Tenholes
    link(href="./stylesheets/bootstrap.css" media="all" rel="stylesheet")
    block stylesheets
  body
    block content
    script(src="./javascripts/angular.js")
    script(src="./javascripts/ui-bootstrap.js")
    block javascripts
