doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Tenholes
    script(src="./javascripts/angular.js")
    block stylesheets
  body
    block content
    block javascripts
