body
  font-family: 'Sansita One', cursive

.header
  text-align: center
  h1
    font-family: 'Luckiest Guy', cursive
    color: #c9302c
    position: relative
    display: inline-block
  .tune-badge:after
    content: "C"
    position: absolute
    background: #d9534f
    height: 2rem
    top: -1rem
    right: -2rem
    width: 2rem
    text-align: center
    line-height: 2.5rem
    font-size: 1rem
    border-radius: 50%
    color: white

.footer
  text-align: center
  padding: 20px 0
  width: 100%
  position: fixed
  bottom: 0
  border-top: 1px solid #eee
  a
    color: #c9302c

table
  border-collapse: collapse
  width: 100%
  tr.bended-blow
    td
      vertical-align: bottom
  tr.bended-draw
    td
      vertical-align: top
  tr.bended-blow, tr.bended-draw
    td
      border: 0
      color: #c9302c
  td
    border: 1px solid black
    margin: 0
    .hole
      line-height: 30px
      text-align: center
    &.desc
      border: 0
    &.body
      width: 9%
      color: #fff
      background-color: #333
