h1, h3
  text-align: center

table
  border-collapse: collapse
  width: 100%
  tr.bended-blow
    td
      vertical-align: bottom
  tr.bended-draw
    td
      vertical-align: top
  tr.bended-blow, tr.bended-draw
    td
      border: 0
      color: DarkMagenta

  tr.body
    td
      font-weight: bold
      font-family: Arial,sans-serif

  td
    border: 1px solid black
    margin: 0
    .hole, .hole-head
        line-height: 30px
        text-align: center
    .hole-head
      width: auto
      padding-left: 10px
      padding-right: 10px
    .hole-bend
